<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myController">
    {{firstName | uppercase}}
    {{lastName | lowercase}}
    <p>Looping with objects:</p>
<ul>
  <li ng-repeat="x in names | orderBy:'country'">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>
<h1>Price: {{ price | currency }}</h1>

<ul>
    <li ng-repeat="x in names | filter : 'i'">
      {{ x.name }}
    </li>
  </ul>
  

</div>
<script>
 //module   
 var app = angular.module("myApp",[]);
 //controller
 app.controller("myController",function($scope){
    $scope.firstName = "Ankit";
    $scope.lastName = "Sharma";
    $scope.price = 58;
    $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
        ];
 });

</script>
</body>
</html>